/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*colors for reference
light blue: #a3cfd8
dark navy: #021b2a
white: #ffffff
*/
/*Font styles*/
@font-face {
  font-family:'athletas';
  src:url(../fonts/Athelas.ttc) format('opentype');
}
@font-face {
  font-family:'sign-painter';
  src:url(../fonts/signpainter.ttc) format('opentype');
}
/* <style>
  @import url("https://use.typekit.net/wnf7qgk.css");
</style> */
/*end font styles*/
/*base font styles*/
h1, h2, nav{
  font-family: "athelas";
  text-transform: uppercase;
}
h3{
  font-family: "sign-painter";
}
p{
  font-family: sans-serif;
}
a{
  text-decoration: none;
}
/*base font style end*/
/*header*/
header{
  width:100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: url('../img/background-img.png') fixed center;
}
.logo {
  width:100%;
  text-align: center;
  padding-bottom:0;
  margin-bottom: 0;
}
.logo a{
  color:#a3cfd8;
}
nav{
  width:96%;
  padding: 0 2% 0 2%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
nav ul{
  list-style: none;
  width:90%;
}
nav li {
  float:left;
  padding-right: 2%;
}
nav a{
  color:#ffffff;
  font-size: 1.2em;
}
nav a:hover{
  border-bottom: solid 3px #a3cfd8;
}
#current{
  border-bottom: solid 3px #a3cfd8;
}
.home h1{
  color:#a3cfd8;
}
.home h3{
  color:#ffffff;
  font-size: 1.8em;
}
.home-wrapper{
  width:75%;
}
.home{
  width: 100%;
  border: 3px solid #a3cfd8;
  /* padding:20% 0 20% 0; */
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.home-button{
  border: 3px solid #a3cfd8;
  text-align: center;
  width:80%;
  margin:10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button{
  border: 3px solid #a3cfd8;
  text-align: center;
  width:80%;
  margin:10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-button a{
  color:#ffffff;
  text-align: center;
  padding:5%;
  width:90%;
}
.button a{
  color:#ffffff;
  text-align: center;
  padding:5%;
  width:90%;
}
.button:hover{
  background-color:#a3cfd8;
}
.button a:hover{
  color:#021b2a;
}
.home-button:hover{
  background-color:#a3cfd8;
}
.home-button a:hover{
  color:#021b2a;
}
/*header end*/
/*footer*/
footer{
  display:flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background:url('../img/background-img.png') center fixed;
  padding:1%;
  width:98%;
}
footer a{
  width:50%;
}
footer img{
  padding:30%;
  width:40%;
}
footer h1{
  font-size: 1.2em;
}
.sitemap ul{
  list-style: none;
  display: flex;
  flex-flow: column;
  padding:0 2% 0 2%;
}
.sitemap a{
  color:#ffffff;
  font-size: .5em;
}
.sitemap{
  display: flex;
  flex-flow: row;
}
.amanda{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.amanda h3{
  color:#ffffff;
  display: flex;
  padding:0;
  margin:0;
  font-size: .8em;
}
.amanda img{
  width:100%;
  display: flex;
  align-items: center;
  margin:0;
  padding:0;
}
.amanda a{
  width:20%;
}
/*footer end*/
/*main - about*/
.feature-wrapper{
  display: flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
  padding-bottom:5%;  /*checking for coaches page*/
}
.feature-wrapper h1, h2, h3{
  text-align: center;
  display: flex;
  align-items: center;
}
.feature-wrapper h1{
  border-bottom: solid 3px #a3cfd8;
}
.feature-wrapper figure{
  width:80%;
   /*straighten everything up with flex*/
  display:flex;
  align-items: center;
  justify-content: center;
}
.feature-wrapper img{
  width:100%; /*fill the container ie. figure*/
}
.feature {
  width:80%; /*looks way better when matching teh img width*/
  padding:0 10% 0 10%; /*make it so when i change a feature color it changes the entire section*/
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
}
.feature h1, h2{
  text-align: center;
  display:flex;
  margin:0;
  padding:0;
}
.feature p{
  text-align: center;
}
#more-info a{
  color:#021b2a;
}
/*end main - about*/
/*start tryouts*/
.feature h3{
  font-size: 2em;
  padding:0;
  margin:0;
}
.feature-wrapper:nth-child(2){
  background: url('../img/background-img.png') fixed center;
  color:#ffffff;
}
/*end tryouts*/
/*start teams*/
.button.navy a{
  color:#021b2a;
}
.button.navy{
  width:50%;
}
/*end teams*/
/*start tournaments*/
.subtitle h3{
  font-size:1.5em;
}
.tournament p{
  font-size: 1.5em;
}
.button-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}
.button{
  display:flex;
  margin: 0 2% 0 2%;
}
.button.padding{
  margin:5%;
  padding:5%;
}
.button a{
  font-size:1.2em;
}
/*end tournaments*/
/*start coaches*/
.feature.extra-padding{
  margin: 10% 0 10% 0;
  /* padding: 0 0 10% 0; */
}
.feature.grey{
  background-color: #5f6971;
  margin:0;
  padding:10%;
}
.bio img{
  border-radius: 50%;
  width:50%;  
}
/*end coaches*/
/*start contact*/
.feature-wrapper.smaller-font{
  font-size: .8em;
  padding-bottom:5%;
}
.feature.mini-padding{
  margin: 5% 0 5% 0;
}
#more-info{
  padding-bottom:5%;
}
.feature-wrapper.grey{
  background-color: #5f6971;
  color:#ffffff;
}
/*end contact*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media all and (min-width:768px){
    /* Style adjustments for tablets */
    /*font size changes*/
    h1{
      font-size: 2.5em;
    }
    h3{
      font-size: 1.8em;
    }
    p, a{
      font-size: 1.2em;
    }
    nav a{
      font-size: 1.5em;
    }
    footer a{
      width:65%;
    }
    footer img{
      padding:30%;
      width:40%;
    }
    footer h1{
      font-size: 1.8em;
    }
    .sitemap a{
      font-size: 1em;
    }
    .amanda h3{
      font-size: 1em;
    }
    .amanda a{
      width:40%;
    }
    /*end font-size changes*/
    .home-wrapper{
      width:50%;
    }
    .feature-wrapper.smaller-font{
      font-size: 1em;
      padding:0 2% 5% 2%;
    }
    .button{
      width:50%;
    }
}
@media all and (min-width:1200px) {
  /* Style adjustments for desktop */
  /*align nav in the center now that we have enough room*/
  nav ul{
    display:flex;
    justify-content: center;
    align-items:
  }
  /*update fonts*/
  h1{
    font-size: 3em;
  }
  p, a{
    font-size: 1.5em;
  }
  nav a{
    font-size: 1.8em;
  }
  .feature-wrapper h3{
    font-size: 1.8em;
  }
  .feature h3{
    font-size: 3em;
  }
  footer a{
    width:20%;
  }
  footer img{
    padding:30%;
    width:40%;
  }
  footer h1{
    font-size: 2em;
  }
  .sitemap a{
    font-size: 1.2em;
  }
  .amanda h3{
    font-size: 1.5em;
  }
  .amanda a{
    width:30%;
  }
  /*end font update*/
  .home-wrapper{
    width:30%;
  }
  .feature.row {
    display: flex;
    flex-flow: row;
  }
  .feature figure{
    width:50%;
    display:inline;
    float:left;
  }
  .feature-wrapper img{
    display: inline;
  }
  .feature p{
    float:right;
    width:50%;
  }
  .feature-wrapper.grid{
    display:grid;
    /* flex-flow: row; */
    grid-template-areas: ". a ." "b c d";
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap:2%; */
  }
  .feature.grid h3{
    text-align: center;
    width:100%;
  }
  .feauture.grid{
    width:100%;
  }
  .feature-wrapper.grid h1{
    display:grid;
    grid-area: a;
  }
  .feature.grid:nth-child(2){
    display:grid;
    grid-area:b;
  }
  .feature.grid:nth-child(3){
    display:grid;
    grid-area:c;
  }
  .feature.grid:nth-child(4){
    display:grid;
    grid-area:d;
  }
  .feature-wrapper.smaller-font{
    font-size: 1em;
    padding:0 2% 5% 2%;
  }
  .button.grid{
    padding:0 30% 0 30%;
  }
  .tournament{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width:50%;
  }
  .button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
  }
  .button.padding{
    margin:5%;
    padding:5%;
  }
  .tournament p{
    float:none;
    width:100%;
  }
  .feature-wrapper.row{
    flex-flow:row;
  }
  .feature{
    width:100%;
    padding:0;
  }
  .bio{
    display:flex;
    flex-flow: row;
  }
  .bio figure{
    width: 40%;
    padding: 0 5% 0 5%;
  }
  .bio p{
    width: 40%;
    padding: 0 5% 0 5%;
  }
  .button{
    width:25%;
  }
  .feature.mini-padding{
    margin:2% 0 2% 0;
  }
}
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
